.App {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ecf0f1;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-content {
  background-color: white;
  min-height: 75vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-footer {
  background-color: #230a32;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 12;
  color: white;
}

.App-link {
  color: #61dafb;
}
